<div class="container">
	<div class="row">
		<div class="col-lg-4">
			
		</div>
		<div class="col-lg- form_centered">
			<h1>Editing Toilet</h1>
			<div>
				<%= render 'form', toilet: @toilet %>
			</div>
			<%= link_to 'Show', @toilet, class: "btn btn-primary" %> |
			<%= link_to 'Back', toilets_path, class: "btn btn-warning" %>
		</div>
	</div>
</div>
